.container {
    width: 100%;
}

/* content1 */
.content1 {
    width: 100%;
    background-image: url(/assets/img/content1.jpg);
    background-position: center;
    background-size: cover;
}

.content1__header {
    background-color: rgba(0,0,0,0.12);
    width: 100%;
    height: 104px;
}

.content1__header-big-container {
    padding: 20px 50px;
}

.header__logo {
    padding: 9px 15px;
}

.header__logo-img {
    width: 160px;
}

.header__navbar {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header__navbar-item {
    padding: 25px 15px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 2px;
}

.header__navbar-book {
    padding: 0 15px;
    margin-left: 25px;
    height: 36px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 2px;
    background-color: var(--content1-color);
    border-radius: 30px;
}

.header__navbar-icon {
    height: 64px;
    padding: 15px 0px;
    margin-left: -15px;
}

.header__navbar-icon-img {
    width: 25px;
}

.content1__container {
    padding: 166px 15px 200px;
}

.content1__title {
    font-size: 5rem;
    line-height: 50px;
    letter-spacing: 1.8px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}

.text-underline1 {
    position: relative;
    font-size: 5rem;
    line-height: 50px;
    letter-spacing: 1.8px;
    font-weight: bold;
    z-index: 0;
}

.text-underline1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 5px;
    z-index: -1;
    background-color: var(--content1-color);
}

.content1__desc {
    font-size: 2rem;
    line-height: 20px;
    letter-spacing: 2.6px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 65px;
}

.select__container {
    position: relative;
    width: 400px;
    height: 43.2px;
    margin: 0 auto 55px;
}

.select__box {
    width: 400px;
    height: 43.2px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    color: var(--text-color1);
    outline: none;
    -webkit-appearance: none;
}

.select__item {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 1.4rem;
}

.select__icon {
    position: absolute;
    width: 43.2px;
    height: 43.2px;
    top: 0;
    right: 0;
    font-size: 3rem;
    text-align: center;
    line-height: 36.2px;
    color: var(--text-color1);
}

.content1__item-container {
    width: 600px;
    height: 135.4px;
    padding: 0 15px;
    margin: 0 auto;
}

.content1__item {
    background: rgba(0,0,0,0.21);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content1__item-img {
    width: 40px;
    height: 40px;
}

.content1__item-text {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 2px;
}

/* content2 */
.content2 {
    margin-top: 60px;
}

.content2__sm-title {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color1);
}

.content2__big-title {
    font-size: 3.6rem;
    line-height: 36px;
    text-align: center;
    color: #555555;
    margin-bottom: 35px;
}

.text-underline2 {
    position: relative;
    font-size: 3.6rem;
    line-height: 36px;
    z-index: 0;
}

.text-underline2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 5px;
    z-index: -1;
    background-color: #1bbc9b;
}

.content2__item-container {
    position: relative;
}

.content2__item-img {
    width: 100%;
}

.content2__item {
    padding: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 1.6px);
    top: 0;
    background-color: #14b9d5;
    z-index: 0;
    opacity: 0;
    transition: 0.6s;
}

.content2__item-container:hover 
.content2__item {
    animation: changeBackground  ease-in 0.6s;
    opacity: 1;
}

.content2__item-title {
    font-size: 2rem;
    line-height: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content2__item-text {
    font-size: 1.4rem;
    line-height: 27px;
    letter-spacing: 1.2px;
}

.content2__item-box {
    font-size: 1.4rem;
    line-height: 22.6px;
    letter-spacing: 1px;
    color: #14b9d5;
    height: 29.2px;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: #fff;
}

.content__item--upper-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
}

.content__item--upper-icon {
    width: 35px;
}

.content__item--upper-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1.6px);
    display: flex;
    align-items: end;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
}

.content__item--upper-text {
    padding: 30px;
}

.content__item--upper-place {
    font-size: 2rem;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.content__item--upper-desc {
    font-size: 1.3rem;
    line-height: 13px;
    letter-spacing: 1.6px;
}

/* content3 */
.content3 {
    margin-top: 60px;
    padding: 50px 0;
    width: 100%;
    background-image: url(/assets/img/content3.jpg);
    background-position: center;
    background-size: cover;
}

.background2 {

    z-index: -1;
}

.content3__text-top {
    font-size: 4.5rem;
    line-height: 45px;
    margin-top: 20px;
    font-weight: bold;
}

.content3__text-bot {
    font-size: 5rem;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.text-underline3 {
    position: relative;
    font-size: 5rem;
    line-height: 50px;
    z-index: 0;
}

.text-underline3::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 5px;
    background-color: var(--content3-color);
    z-index: -1;
}

.content3__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content3__btn {
    font-size: 1.4rem;
    line-height: 14px;
    color: var(--content3-color);
    letter-spacing: 2px;
    padding: 15px 35px;
    background-color: #fff;
    border-radius: 30px;
}

/* content4 */
.content4 {
    margin-top: 55px;
}

.content4__text {
    padding: 20px 35px 20px 15px;
}

.content4__text--sm-title {
    font-size: 1.4rem;
    line-height: 14px;
    color: #555555;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.content4__text--big-title {
    font-size: 3.6rem;
    line-height: 36px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-underline4 {
    position: relative;
    font-size: 3.6rem;
    line-height: 36px;
    z-index: 0;
}

.text-underline4::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 6px;
    background-color: var(--content4-color);
    z-index: -1;
}

.content4__text--main {
    font-size: 1.4rem;
    line-height: 27px;
    margin-top: 20px;
    color: #9a9a9a;
    letter-spacing: 1.4px;
}

.content4__price-container {
    font-size: 3rem;
    line-height: 65.6px;
    color: #555555;
}

.content4__price {
    font-size: 3rem;
    line-height: 30px;
    color: #555555;
}

.content4__price-old {
    color: #dadada;
    text-decoration: line-through;
}

.content4__price-person {
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 1px;
}

.content4__btn {
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 1.4rem;
    background-color: #1bbc9b;
    padding: 15px 35px;
    margin-top: 30px;
    display: inline-block;
}

.content4__gallery {
    width: 100%;
    height: 100%;
    padding: 20px 15px 20px 35px;
}

.content4__img-container {
    height: 410px;
}

.content4__img {
    position: relative;
    background-image: url(/assets/img/content4.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content4__time-container {
    position: relative;
    top: -57px;
    background-color: var(--content4-color);
}

.content4__time {
    text-align: center;
    position: relative;
}

.content4__time--no-after {
    text-align: center;
}

.content4__time::after {
    position: absolute;
    content: "/";
    top: 0;
    right: -12px;
    font-size: 60px;
    color: #000;
    opacity: 0.05;
    font-weight: 100;
    line-height: 60px;
}

.content4__time-number {
    font-size: 3.5rem;
    line-height: 40px;
    margin-top: 30px;
    font-weight: normal;
    letter-spacing: 1.4px;
}

.content4__time-text {
    font-size: 1.3rem;
    line-height: 15px;
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 1px;
}

.content4__item {
    position: relative;
    margin: 10px 0;
}

.content4__item-img {
    position: absolute;
    width: 50px;
}

.content4__item-text-container {
    padding-left: 70px;
}

.content4__item-text1 {
    font-size: 2.4rem;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #555555;
}

.content4__item-text2 {
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 1.6px;
    color: #9a9a9a;
    margin: 20px 0;
}

.content4__item-text3 {
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--content4-color);
    letter-spacing: 1px;
}

/* content5 */
.content5 {
    margin-top: 65px;
}

.content5__item {
    padding: 60px 15px;
    text-align: center;
}

.content5--background1 {
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/content5__img1.jpg);
}

.content5--background2 {
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/content5__img2.jpg);
}

.content5__sm-title {
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.content5__big-title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 35px;
}

.content5__btn {
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 15px 35px;
    display: inline-block;
}

.content5__btn--color1 {
    color: #f3a46b;
}

.content5__btn--color2 {
    color: #1bbc9b;
}

/* content6 */
.content6 {
    margin: 60px 0;
}

.content6__sm-title {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color1);
}

.content6__big-title {
    font-size: 3.6rem;
    line-height: 36px;
    text-align: center;
    color: #555555;
    margin-bottom: 35px;
}

.content6__item {
    border: 1px solid #f1f1f1;
}

.content6__container1 {
    position: relative;
}

.content6__img {
    width: 100%;
}

.content6__icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    right: 20px;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content6__icon--color1 {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.content6__icon--color2 {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.content6__icon--color3 {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}

.content6__icon-img {
    width: 26px;
}

.content6__container2 {
    padding: 30px;
}

.content6__place--top {
    font-size: 2rem;
    line-height: 20px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 10px;
}

.content6__place--bot {
    font-size: 1.5rem;
    line-height: 25px;
    color: var(--text-color1);
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content6__place-icon {
    width: 14px;

}

.content6__price {
    padding: 15px 0 10px 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.content6__price-text1 {
    font-size: 1.4rem;
    line-height: 14px;
    color: #555555;
    font-weight: normal;
    letter-spacing: 1px;
}

.content6__price-text2 {
    font-size: 1.4rem;
    line-height: 27px;
    color: #555555;
    font-weight: normal;
    letter-spacing: 1px;
}

.content6__tag {
    padding: 2px 8px;
    font-size: 1rem;
    line-height: 14px;
    border-radius: 30px;
    margin-left: 5px;
    letter-spacing: 3px;
}

.content6__tag1 {
    background-color: #ffd205;
}

.content6__tag2 {
    background-color: #f76570;
}

.content6__tag3 {
    background-color: #ba71da;
}

.content6__price-number {
    font-size: 2.5rem;
    line-height: 41px;
    text-align: end;
    color: #555555;
    letter-spacing: 1px;
}

.content6__desc {
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 27px;
    color: #9a9a9a;
    letter-spacing: 2px;
}

.content6__btn {
    padding: 5px 20px;
    font-size: 1.4rem;
    line-height: 27px;
    letter-spacing: 0.8px;
    border-radius: 30px;
    display: inline-block;
}

.content6__btn1 {
    background-color: #ffd205;
}

.content6__btn2 {
    background-color: #f76570;
}

.content6__btn3 {
    background-color: #ba71da;
}

/* content6--sale */
.content6__tag--sale {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
    line-height: 13px;
    padding: 4px 12px;
    border-radius: 30px;
    background-color: #555555;
}

.content6__price-number--sale {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 2rem;
    color: #9a9a9a;
    text-decoration: line-through;
    letter-spacing: 0.8px;
}

/* footer */
.footer {
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/footer.jpg);
}

.footer__sm-title {
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: normal;
    color: #9a9a9a;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.footer__bit-title {
    font-size: 3.6rem;
    line-height: 36px;
    font-weight: bold;
    color: #555555;
}

.footer__input-container {
    margin-top: 20px;
    margin-bottom: 67px;
}

.footer__input {
    display: inline-block;
    width: calc(75% - 24px);
    font-size: 1.4rem;
    line-height: 23px;
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    padding: 10px 20px;
    -webkit-appearance: none;
    outline: none;
    color: #a3a3a3;
}

.footer__btn {
    display: inline-block;
    width: 25%;
    font-size: 1.4rem;
    line-height: 24px;
    padding: 10px 20px;
    background-color: #14b9d5;
    border-radius: 30px;
    text-align: center;
    letter-spacing: 1.4px;
    float: right;
}

.footer__container2 {
    padding: 35px 30px;
    background-color: #fff;
}

.footer__logo-container {
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 22px;
}

.footer__logo {
    width: 150px;
}

.footer__text {
    font-size: 1.4rem;
    line-height: 27px;
    letter-spacing: 2px;
    color: #9a9a9a;
    margin-bottom: 25px;
}

.footer__social {
    margin-bottom: 10px;
}

.footer__icon {
    width: 22px;
    margin-right: 20px;
}

.footer__list {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: bold;
    color: #555555;
    letter-spacing: 1.4px;
}

.footer__item {
    font-size: 1.6rem;
    line-height: 27px;
    color: #9a9a9a;
    letter-spacing: 1.4px;
}

.footer__arrow {
    width: 10px;
    margin-left: 2px;
}

.footer__copyright {
    background-color: #14b9d5;
}

.copyright__text {
    padding: 20px;
    font-size: 1.2rem;
    line-height: 12px;
    font-weight: normal;
    letter-spacing: 2px;
}

.copyright__text1 {
    text-align: start;
}

.copyright__text2 {
    text-align: end;
}

.main__btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    background-color: #555555;
    box-shadow: 0px 0px 20px rgba(0,0,0,.15);
    font-size: 2.5rem;
    text-align: center;
    line-height: 72px;
    letter-spacing: 1px;
}

.main__btn-icon-container {
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 39px;
    border-radius: 100px;
    background-color: #555555;
}

.main__btn-icon {
    width: 15px;
}

.main__btn-text {
    position: absolute;
    top: 1px;
    left: 5px;
    padding: 3px 5px;
    background-color: #f76570;
    font-size: 0.8rem;
    line-height: 10px;
}

.main__btn-usd {
    position: absolute;
    top: -8px;
    left: 8px;
}